body {
    background-color:#fffcf2;
}

.container {
    margin-top: 50px;
}

.container-fluid {
    padding:0;
}

.row {
    margin-top: 25px;
}

.centerTxt {
    text-align: center;
}
.don {
    font-weight: bolder;
}

/*Header*/

.headerBar {
    overflow: hidden;
    background-color: #193d4d;
    top: 0;
    width: 100%;
    height: 154px;
    z-index: 10;
  }
.logo {
    margin-top: 14px;
    margin-left: 10px;
}
.rightSide {
    display:none;
}

.doofus {
    position: relative;
    float: right;
    
}   

#headLinks {
    position: relative;
    float: right;
    top:-80px;
    right:320px;
}

.linky {
    color:white;
    text-decoration: none;
}



a:hover {
    color: rgb(191, 206, 223);
  }

.abtButt {
    background-color: white;
    border: none;
    border-radius: 3px;
    color: black;
    margin:5px;
    text-align: center;
}

.impButt {
    margin-bottom: 27px;
    margin-top:10px;
    background-color: #2466B1;
    border: none;
    margin:5px;
    border-radius: 3px;
    color: white;
    height:40px;
    width:140px;
}
.donateButt {
    margin-bottom: 27px;
    margin-top:10px;
    background-color: rgb(218, 105, 18);
    border: none;
    margin:5px;
    border-radius: 3px;
    color: white;
    height:40px;
    width:140px;
}

.introPic {
    display: flex;
    justify-content: center;
}

.introTxtBox {
    position: absolute;
    margin-top: 70px;
    background-color: rgb(36, 102, 177, .8);
    border-radius: 5px;
    color:white;
    padding:10px;
    padding-right: 15px;
    padding-left: 15px;
}

#introTxt {
    font-weight: bolder;
}

.finley {
    width:100%;
    height:100%;
}



.mstInfo {
    font-size: 9px;
    margin-left:10px;
}

.oTown {
    width:100%;
    height:100%;
    border-radius: 5px;
}

.kirk {
    width:100%;
    height:100%;
    border-radius: 5px;
}

.hick {
    width:100%;
    height:100%;
    border-radius: 5px;
}



.startAndAct {
    padding: 10px;
    padding-top: 30px;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.tStxt {
    text-align: center;
    color: white;
}

.aRtxt {
    text-align: center;
    color:white;
}

#aRbutton {
    background-color: rgb(218, 105, 18); 
    border-style: solid;
    width:150px;
    height:50px;
    border-radius: 3px;
    margin-bottom:20px;
    color: white;
}

#tSbutton {
    background-color: rgb(218, 105, 18); 
    border-style: solid;
    width:150px;
    height:50px;
    border-radius: 3px;
    margin-bottom:20px;
    color: white;
}

.filler {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    
}

.fillerPic {
    width:100%;
    height:100%;
    border-radius: 5px;
}

#donations {
    margin-top:30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    padding: 20px;
    background-color: #69995D;
    width:80%;
    vertical-align: center;
}

.googleCal {
    display:none;
}

.amounts {
    display: flex;
    justify-content: center;
}

.button {
    background-color: white;
    border: none;
    border-radius: 3px;
    color: black;
    width:75px;
    height:40px;
    margin:5px;
    text-align: center;
}

.button:hover {
    background-color: gray;
    color: white;
  }

.confirm {
    margin-top:10px;
    display: flex;
    justify-content: center;
}

#confirmButt {
    background-color: rgb(218, 105, 18); 
    border-style: solid;
    width:120px;
    height:50px;
    border-radius: 3px;
    color: white;
}

#confirmButt:hover {
    background-color: gray;
    color: black;
  }

.startAndAct {
    background-color: #193d4d;
    padding: 10px;
    padding-top: 30px;
}



.calendar {
    background-color: #193d4d;
        padding: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 5px;
}

.caltxt {
    color:white;
    text-align: center;
}

#calbutton {
    background-color: white;
    border: none;
    border-radius: 3px;
    color: black;
    margin:5px;
    text-align: center;
}



.announce {
    background-color: #193d4d;
        padding: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 5px;
}

#announcebutton {
    background-color: white;
    border: none;
    border-radius: 3px;
    color: black;
    margin:5px;
    text-align: center;
}


.announcetxt {
    color:white;
    text-align: center;
    
}

.aList {
    display: flex;
    justify-content: center;
}

ul.aList {
    text-align: center;
  }

.contactInfoEtc {
    
    margin:30px;
    margin-bottom:70px;
    text-align: center;
}

#contactTables {
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
    margin:5px;
  }